- hosts: target
  become: true

  vars:
    NODE_VERSION: "{{ NODE_VERSION | default('24') }}"

  tasks:
    - name: Install prerequisites
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
        state: present
        update_cache: true

    - name: Download NodeSource setup script
      get_url:
        url: https://deb.nodesource.com/setup_{{ NODE_VERSION }}.x
        dest: /tmp/nodesource_setup.sh
        mode: '0755'

    - name: Run NodeSource setup script
      command: bash /tmp/nodesource_setup.sh
      environment:
        DEBIAN_FRONTEND: noninteractive

    - name: Install Node.js
      apt:
        name: nodejs
        state: present
        update_cache: true

    - name: Create the application directory
      file:
        path: /app
        state: directory
        mode: '0755'

    - name: Copy the application code
      copy:
        src: ../app/
        dest: /app/
        mode: '0755'

    - name: Copy the package.json
      copy:
        src: ../package.json
        dest: /app/package.json
        mode: '0644'

    - name: Copy the package-lock.json
      copy:
        src: ../package-lock.json
        dest: /app/package-lock.json
        mode: '0644'

    - name: Install the application dependencies
      npm:
        path: /app
        production: yes

    - name: Install systemd service
      copy:
        src: ../devops-exam-js.service
        dest: /etc/systemd/system/devops-exam-js.service
        mode: '0644'

    - name: Start application service
      ansible.builtin.systemd:
        name: devops-exam-js
        daemon_reload: true
        enabled: true
        state: started
